<div class="first">
    <div class="first_container" id="img_peces_1">
        <img class="img_homepage" src="../../../assets/images/peces_inicio.png" id="">
    </div>
    <div class="second_container" id="text_1">
        <h1>Acuaponía</h1>
        <p class="text_homepage">La acuaponía es el cultivo de plantas y animales acuáticos en un entorno recirculante,
            representa la relación entre el agua, la vida acuática, las bacterias y las plantas que crecen en las vías
            fluviales de todo el mundo, se hace uso de este método para producir alimentos, varios productos comerciales
            y restauración de habitat.</p>
    </div>
</div>
<div class="first">
    <div class="second_container" id="text_2">
        <h1>LESTOMA</h1>
        <h2>Laboratorio Experimental de Sistemas Tecnologicos Orientados a Modelos Acuaponicos</h2>
        <p class="text_homepage">El problema central generador de este proyecto es la baja productividad de las unidades
            productivas al carecer de bajos niveles de incorporación de soluciones tecnológicas y de automatización. Su
            intención es dar soporte a la superación del anterior marco problemático en las perspectiva sostenible, y
            por tanto, buscar alternativas que integren soluciones tecnológicas innovadoras que aporten aspectos de
            mejoramiento continuo a nivel de los programas académicos de la Universidad de Cundinamarca, de las UPAS y
            de la comunidad de la region en general.</p>
    </div>
    <div class="first_container" id="img_peces_2">
        <img class="img_homepage" src="../../../assets/images/peces_inicio_dos.png" id="">
    </div>
</div>
<div class="second" id="text_1">
    <h1>¿Quienes somos?</h1>
    <p>Nosotros somos Sofia Lopera y Sebastian Naranjo, estudiantes de la Universidad de Cundinamarca. Este proyecto
        busca brindar una herramienta de software al LESTOMA, pues en este se gestionara y administrara muchas de las
        funcionalidades existentes. Esperamos sea de tu agrado. </p>
</div>
<div class="background">
    <div class="third">
        <h1 class="text_info">Aplicativo web como apoyo a la gestión y control del laboratorio "LESTOMA" de la
            Universidad de Cundinamarca</h1>
        <p>Nosotros somos Sofia Lopera y Sebastian Naranjo, estudiantes de la Universidad de Cundinamarca. Este proyecto
            busca brindar una herramienta de software al LESTOMA, pues en este se gestionara y administrara muchas de
            las funcionalidades existentes. Esperamos sea de tu agrado. </p>
    </div>
</div>
<div class="mailbox_content">
    <div class="background mailbox">
        <h1>Contactanos</h1>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Ingresa tu correo">
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Opinion, mensaje, queja, recomendación:</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group-btn-send d-flex justify-content-center">
            <button type="button" class="btn_send btn btn-outline-dark">Enviar</button>
        </div>
    </div>
</div>