/* .titleMessage {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
}
.subtitle{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;

}
.content{
    margin-bottom: 30px;
}
.mat-expansion-panel{
    width: 52%;
    margin-left: 320px;
    background-color: #007B3E ;
 
}
.describeText{
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-left: 190px;
    margin-top: 20px;
    
}
.describeText1{
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-left: 210px;
  margin-top: 20px;
  
}

  .activityTitle{
  font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center !important;
  }

.background{
    background-color: lightgray;
    width: 52%;
    height: 82%;
    margin-left: 320px !important;
    margin-bottom: 50px;
    border-radius: 30px;

}
.textBox1{
    font-family: 'DM Sans', sans-serif;
    color: grey;
    font-size: 20px ;
    margin-top: 20px;
    margin-left: 55px !important;
    margin-right: auto;
    
}
.textBox{
    font-family: 'DM Sans', sans-serif;
    color: grey;
    font-size: 20px ;
    margin-top: 20px;
    margin-left: 250px !important;

    
}
.text{
    margin-left: 160px;
    margin-top: 40px;
    color: blue;
    font-family: 'DM Sans', sans-serif;
    color: grey;
    font-size: 20px ;
    
}
.dateBox{
    width: 15%;
    border-radius: 10px;
    margin-left: 10px;
}
.example-section1 {
    margin: 12px 0;
    display: flex;
    margin-top: 50px;
   
  }
 
  .checkboxVariable{
    margin-left: 175px;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 15px ;
    color: black;
  }
  .content1{
      margin-left: 120px;
  }
  .btnReportes{
  
  margin-left: 80px !important;
  margin-bottom: 200px !important   ;
  width: 180px;
  height: 40px;
  background-color: white;
  font-size: 18px;
  font-family: "DM Sans", sans-serif !important;
  color: #000000;
  border-radius: 70px;
  border-style: none;
 
  }
  .btnReportes2{
  
    margin-left: 240px !important;
    margin-bottom: 200px !important   ;
    width: 180px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    font-family: "DM Sans", sans-serif !important;
    color: #000000;
    border-radius: 70px;
    border-style: none;
   
    }
  .btnClass{
    margin-bottom: 100px !important;

  }
  .btnClass2{
    margin-bottom: 100px !important;

  }
  .btn-outline-dark{
  
    display: flex;
    list-style: none;
    margin-right: 500px;
    margin-top: auto;
    
  
    border-radius: 70px;
    margin: 0 5px;
  
    padding: 7px 13px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: black;
  
    color: white;
    border-radius: 70px;
    background-color: #007B3E;
    color: white;
    transition: .3s;
    box-shadow: 5px 0 10px rgba(0,0,0, .2);
  
  }
  .btnGrafica{
    margin-left: 220px !important;
    margin-bottom: 40px !important   ;
    margin-top: 30px;
    width: 210px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    font-family: "DM Sans", sans-serif !important;
    color: #000000;
    border-radius: 70px;
    border-style: none;
  }
  
  @media screen and (max-width: 960px) {

    .mat-expansion-panel{
        width: 50%;
       margin-left: 100px;

    }
    .describeText{
        margin-left: 15px;
        font-size: 13px;
    }
  } */

/* NUEVOS ESTILOS */
.contenedor_uno h1{
  font-family: 'DM Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.subtitle {
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  text-align: center;
  margin: 40px 0 40px 0;
}

.info_one,
.info_two,
.info_three {
  display: flex;
  align-items: center;
}

.numero {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numero p {
  font-size: 30px;
}

.texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descripcion {
  font-size: 14px;
  color: white;
}

mat-expansion-panel {
  background-color: #007b3e;
  font-family: "DM Sans", sans-serif !important;
  width: 50%;
  margin: auto;
  border-radius: 50px;
}

.mat_expansion_estilo div, 
mat-panel-title, 
.contenedor h2, 
.mat-date-range-input,
.mat-label,
.mat-checkbox {
  font-family: 'DM Sans', sans-serif !important;
}

.font_bold {
  font-weight: bold;
  font-family: "DM Sans", sans-serif !important;
}

.font_color_yellow {
  color: #DAAA00;
  margin: auto;
}

.font_color_green {
  color: #007b3e;
}

.mat_expansion_title {
  font-size: 20px;
  color: white;
}

.text-select-upa{
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 10px 0;
}

.mat-select-upa {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.mat-select-upa mat-form-field {
  width: 50%;
}

/* Fecha y variable*/

.container_style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor {
  background-color: #e2e2e2;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 40px;
}

h1{
  margin-top: 20px;
}

.mat-checkbox {
  font-size: 15px;
}

/* ESTILOS PARA DATE PICKER*/

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: red !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #DAAA00 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #DAAA00 !important;
 }

 ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #DAAA00  !important;
  --mdc-checkbox__ripple: #DAAA00;
 }

 mat-datepicker-toggle {
  color: #007b3e ;
 }



 /* ESTILOS PARA SELECT BOX*/

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #DAAA00 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #DAAA00 !important;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
  color: #DAAA00 !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: #DAAA00 !important;
}

.select_box {
  width: 60%;
}

.btn_report {
  width: 30%;
  height: 50px;
  margin: 20px 0 20px 0;
  border-style: none;
  background-color: #007b3e;
  border-radius: 50px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

/*  ACTUALIZACION (PROBLEMAS DESPUES DE DEPENDENCIAS)*/

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: #DAAA00;
  --mdc-checkbox-selected-hover-icon-color: #DAAA00;
  --mdc-checkbox-selected-icon-color: #DAAA00;
  --mdc-checkbox-selected-pressed-icon-color: #DAAA00;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}

::ng-deep .mat-mdc-checkbox.mat-accent .mdc-checkbox--selected~.mdc-checkbox__ripple {
  background: #DAAA00 !important;
}

::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #007b3e !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-primary, #007b3e)!important;
}