<div class="container">
  <h2>Mensajes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Asunto</th>
        <th>Mensaje</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chat of chats">
        <td>{{ chat.from }}</td>
        <td>{{ chat.subject }}</td>
        <td>
          <button class="btn btn-success" (click)="showMessage(chat)">Ver mensaje completo</button>
          <div *ngIf="showFullMessage && selectedChat === chat" class="message-popup">
            <div class="message-content">
              <p>{{ selectedChat.message }}</p>
              <button class="btn btn-secondary" (click)="hideMessage()">Cerrar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>







 
