.container {
  background-color: #f2f2f2;
  margin: 50px auto;
  padding: 20px;
  max-width: 700px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.table {
  margin-bottom: 0;
  margin-left: 100px;
}

.btn-success {
  background-color: green;
  border-color: green;
}

.message-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-content {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
}

.message-content h3 {
  margin-top: 0;
}

.message-content p {
  margin-bottom: 0;
}
