<div class="table-camp">
  <div class="tittle">
    <h2>Valores de la sensorica en la UPA</h2>
    <br>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tabla-gestion">

    <mat-sort-header mat-sort-header="createdAt">Fecha</mat-sort-header>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt  | date: 'dd/MM/yyyy HH:mm:ss' }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ph">
      <th mat-header-cell *matHeaderCellDef> pH (10 a 13)</th>
      <td mat-cell *matCellDef="let element"> {{element.Sensores.PH}} </td>
    </ng-container>

    <ng-container matColumnDef="temperatura">
      <th mat-header-cell *matHeaderCellDef> Temperatura (14 a 15)</th>
      <td mat-cell *matCellDef="let element"> {{element.Sensores.Temp}} </td>
    </ng-container>

    <ng-container matColumnDef="conductividad_electrica">
      <th mat-header-cell *matHeaderCellDef> Conductividad electrica (0 a 3)</th>
      <td mat-cell *matCellDef="let element"> {{element.Sensores.C_Electrica}} </td>
    </ng-container>

    <ng-container matColumnDef="nivelAgua">
      <th mat-header-cell *matHeaderCellDef> Nivel del agua (2000 a 4000)</th>
      <td mat-cell *matCellDef="let element"> {{element.Sensores.N_Agua}} </td>
    </ng-container>

    <ng-container matColumnDef="turbidez">
      <th mat-header-cell *matHeaderCellDef> Turbidez (0 a 14)</th>
      <td mat-cell *matCellDef="let element"> {{element.Sensores.Tu}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 7]"
    showFirstLastButtons
    [pageSize]="7"
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
