<h2>En esta sección puedes controlar las funciones habilitadas para el laboratorio, recuerda: </h2>
<div class="camp">
    <div class="container">
        <div class="section-one">
            <h3>Alarmas</h3>
            <p>Aquí activiras o desactivaras las alarmas presentes en el laboratorio</p>
        </div>
        <div class="section-two">
            <mat-slide-toggle></mat-slide-toggle>
        </div>
    </div>
    <div class="container">
        <div class="section-one">
            <h3>Recirculación del agua</h3>
            <p>Aquí activiras o desactivaras el proceso de recirculación del agua</p>
        </div>
        <div class="section-two">
            <mat-slide-toggle class=""></mat-slide-toggle>
        </div>
    </div>
</div>
<div class="camp">
    <div class="container">
        <div class="section-one">
            <h3>Alimentación</h3>
            <p>Aquí activiras o desactivaras los dispensadores de alimentos</p>
        </div>
        <div class="section-two">
            <mat-slide-toggle></mat-slide-toggle>
        </div>
    </div>
    <div class="container">
        <div class="section-one">
            <h3>Oxigeno</h3>
            <p>Aquí activiras o desactivaras el oxigeno de los tanques</p>
        </div>
        <div class="section-two">
            <mat-slide-toggle class=""></mat-slide-toggle>
        </div>
    </div>
</div>
