<h2 class="titleRegistre"> Registrar UPA  </h2>
<div class="mailbox_content">
    <div class="background mailbox">
        <div class="form-group">
            <input type="text" class="registreCamp" id="nameR" aria-describedby="name" placeholder="Nombre para la UPA">
        </div>
        <h1 class="titleRegistre"> Administrador Inicial </h1>
        <div class="form-group">
            <input type="email" class="registreCamp" id="nameUPA" aria-describedby="name" placeholder="Nombre Completo">
        </div>
        <div class="form-group">
            <input type="password" class="registreCamp" id="maillUPA" aria-describedby="email" placeholder="Correo Electronico">
        </div>
        <div class="form-group">
            <input type="password" class="registreCamp" id="passwordUPA" aria-describedby="password" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <input type="password" class="registreCamp" id="passwordCUPA" aria-describedby="passwordConfirmation" placeholder="Confirmar contraseña">
        </div>
        <div class="form-group">
      <!-- <select name="OS" class="registreCamp">
            <option selected value="0" > ¿A que UPA estará vinculado? </option>
                <optgroup label="Microsoft"> 
                <option value="1">Windows Vista</option> 
                <option value="2">Windows 7</option> 
                <option value="3">Windows XP</option> 
            </optgroup> 
        </div>--> 
        
            <button type="button" class="btn-outline-dark"> Registrar </button>
        </div>
    </div>
</div>