<div class="titulo">
  <h3 class="title">En esta sección podras ajustar las <br> variables según tu necesidad</h3>
</div>
<div class="container1">
  <h3 class="title">Tiempos</h3>
  <div class="row">
    <div class="cycle-container">
      <div class="cycle">
        <h4>Primer ciclo de alimentación</h4>
        <div class="time-container">
          <div class="hour">
            <input type="text" placeholder="00" class="time-input">
          </div>
          <div class="minute">
            <input type="text" placeholder="00" class="time-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Segundo ciclo de alimentación</h4>
        <div class="time-container">
          <div class="hour">
            <input type="text" placeholder="00" class="time-input">
          </div>
          <div class="minute">
            <input type="text" placeholder="00" class="time-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Tercer ciclo de alimentación</h4>
        <div class="time-container">
          <div class="hour">
            <input type="text" placeholder="00" class="time-input">
          </div>
          <div class="minute">
            <input type="text" placeholder="00" class="time-input">
          </div>
        </div>
      </div>
    </div>
    <div class="cycle-container">
      <div class="cycle">
        <h4>Cuarto ciclo de alimentación</h4>
        <div class="time-container">
          <div class="hour">
            <input type="text" placeholder="00" class="time-input">
          </div>
          <div class="minute">
            <input type="text" placeholder="00" class="time-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Quinto ciclo de alimentación</h4>
        <div class="time-container">
          <div class="hour">
            <input type="text" placeholder="00" class="time-input">
          </div>
          <div class="minute">
            <input type="text" placeholder="00" class="time-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Sexto ciclo de alimentación</h4>
        <div class="time-container">
          <div class="hour">
            <input type="text" placeholder="00" class="time-input">
          </div>
          <div class="minute">
            <input type="text" placeholder="00" class="time-input">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container2">
  <h3 class="title">Cantidad</h3>
  <div class="row">
    <div class="cycle-container">
      <div class="cycle">
        <h4>Primer ciclo de alimentación</h4>
        <div class="quantity-container">
          <div class="quantity">
            <input type="text" placeholder="0" class="quantity-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Segundo ciclo de alimentación</h4>
        <div class="quantity-container">
          <div class="quantity">
            <input type="text" placeholder="0" class="quantity-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Tercer ciclo de alimentación</h4>
        <div class="quantity-container">
          <div class="quantity">
            <input type="text" placeholder="0" class="quantity-input">
          </div>
        </div>
      </div>
    </div>
    <div class="cycle-container">
      <div class="cycle">
        <h4>Cuarto ciclo de alimentación</h4>
        <div class="quantity-container">
          <div class="quantity">
            <input type="text" placeholder="0" class="quantity-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Quinto ciclo de alimentación</h4>
        <div class="quantity-container">
          <div class="quantity">
            <input type="text" placeholder="0" class="quantity-input">
          </div>
        </div>
      </div>
      <div class="cycle">
        <h4>Sexto ciclo de alimentación</h4>
        <div class="quantity-container">
          <div class="quantity">
            <input type="text" placeholder="0" class="quantity-input">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="boton-container">
  <button class="boton-guardar">Guardar</button>
</div>

<div class="container3">
  <h3 class="title">Variables de laboratorio</h3>
  <div class="row">
    <div class="variable-container">
      <h4>pH</h4>
      <div class="data-container">
        <div class="data">
          <input type="text" placeholder="--" class="data-input" >
        </div>
      </div>
    </div>
    <div class="variable-container">
      <h4>Temperatura (Tanques)</h4>
      <div class="data-container">
        <div class="data">
          <input type="text" placeholder="Grados celcius" class="data-input" >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="variable-container">
      <h4>Temperatura ambiente</h4>
      <div class="data-container">
        <div class="data">
          <input type="text" placeholder="Grados celcius" class="data-input" >
        </div>
      </div>
    </div>
    <div class="variable-container">
      <h4>Nivel del agua</h4>
      <div class="data-container">
        <div class="data">
          <input type="text" placeholder="Litros" class="data-input" >
        </div>
      </div>
    </div>
  </div>
  <div class="row center-row">
    <div class="variable-container center-variable">
      <h4>Variable 5</h4>
      <div class="data-container">
        <div class="data">
          <input type="text" placeholder="--" class="data-input" >
        </div>
      </div>
    </div>
  </div>
  <div class="boton-container">
    <button class="boton-guardar">Guardar</button>
  </div>
</div>
