<div class="titulo">
  <h3 class="title">
    En esta sección podras ajustar las <br />
    variables según tu necesidad
  </h3>
</div>
<div class="container3">
  <h3 class="title">Variables de laboratorio</h3>
  <h2 class="subtitle">Selecciona el modo de transmisión: </h2>
  <div class="container_comunication">
    <mat-form-field>
        <mat-label>Seleccionar modo de transmisión</mat-label>
        <mat-select
          [(value)]="modoTransmision"
          (selectionChange)="onConnectionTypeChange()"
        >
          <mat-option value="1">Punto a punto</mat-option>
          <mat-option value="2">Broadcast</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field *ngIf="rtuView">
        <mat-select placeholder="Selecciona una RTU" [(value)]="rtuValue">
          <mat-option value="1">RTU 1</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

  <mat-tab-group>
    <mat-tab label="PH">
      <ng-template mat-tab-label>
        <div class="tab-label">
          PH
        </div>
      </ng-template>
      <div class="input-container"> <!-- nuevo contenedor flex -->
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Minimo PH"
            class="input-field"
            [(ngModel)]="valuePHmin"
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Maximo PH"
            class="input-field"
            [(ngModel)]="valuePHmax"
          />
        </mat-form-field>
      </div>
      <div class="boton-container">
        <button mat-button class="btn-save" (click)="saveValuePH()">
          Guardar
        </button>
      </div>
    </mat-tab>    
    <mat-tab label="TEMPERATURA">
      <ng-template mat-tab-label>
        <div class="tab-label">
          TEMPERATURA
        </div>
      </ng-template>
      <div class="input-container"> <!-- nuevo contenedor flex -->
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Minimo Temperatura"
            class="input-field"
            [(ngModel)]="valueTemperaturamin"
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Maximo Temperatura"
            class="input-field"
            [(ngModel)]="valueTemperaturamax"
          />
        </mat-form-field>
      </div>
      <div class="boton-container">
        <button mat-button class="btn-save" (click)="saveValueTemperatura()">
          Guardar
        </button>
      </div>
    </mat-tab>
    <mat-tab label="CONDUCTIVIDAD">
      <ng-template mat-tab-label>
        <div class="tab-label">
          CONDUCTIVIDAD
        </div>
      </ng-template>
      <div class="input-container"> <!-- nuevo contenedor flex -->
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Minimo Conductividad"
            class="input-field"
            [(ngModel)]="valueConductividadmin"
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Maximo Conductividad"
            class="input-field"
            [(ngModel)]="valueConductividadmax"
          />
        </mat-form-field>
      </div>
      <div class="boton-container">
        <button mat-button class="btn-save" (click)="saveValueConductividad()">
          Guardar
        </button>
      </div>
    </mat-tab>
    <mat-tab label="NIVEL DEL AGUA">
      <ng-template mat-tab-label>
        <div class="tab-label">
          NIVEL DEL AGUA
        </div>
      </ng-template>
      <div class="input-container"> <!-- nuevo contenedor flex -->
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Minimo Nivel del agua"
            class="input-field"
            [(ngModel)]="valueNivelAguamin"
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Maximo Nivel del agua"
            class="input-field"
            [(ngModel)]="valueNivelAguamax"
          />
        </mat-form-field>
      </div>
      <div class="boton-container">
        <button mat-button class="btn-save" (click)="saveValueNivelAgua()">
          Guardar
        </button>
      </div>
    </mat-tab>
    <mat-tab label="TURBIDEZ">
      <ng-template mat-tab-label>
        <div class="tab-label">
          TURBIDEZ
        </div>
      </ng-template>
      <div class="input-container"> <!-- nuevo contenedor flex -->
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Minimo Turbidez"
            class="input-field"
            [(ngModel)]="valueTurbidezmin"
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Maximo Turbidez"
            class="input-field"
            [(ngModel)]="valueTurbidezmax"
          />
        </mat-form-field>
      </div>
      <div class="boton-container">
        <button mat-button class="btn-save" (click)="saveValueTurbidez()">
          Guardar
        </button>
      </div>
    </mat-tab>
    <mat-tab label="OXIGENO DISUELTO">
      <div class="input-container"> <!-- nuevo contenedor flex -->
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Minimo Oxigeno Disuelto"
            class="input-field"
            [(ngModel)]="valueOxigenoDisueltomin"
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            placeholder="Maximo Oxigeno Disuelto"
            class="input-field"
            [(ngModel)]="valueOxigenoDisueltomax"
          />
        </mat-form-field>
      </div>
      <div class="boton-container">
        <button
          mat-button
          class="btn-save"
          (click)="saveValueOxigenoDisuelto()"
        >
          Guardar
        </button>
      </div>
    </mat-tab>
    <div *ngIf="stateSensor">
      <mat-tab [label]="nameSensor">
        <div class="input-container"> <!-- nuevo contenedor flex -->
          <mat-form-field class="form-field">
            <input
              matInput
              type="number"
              placeholder="Minimo {{nameSensor}}"
              class="input-field"
              [(ngModel)]="valueS_1min"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              type="number"
              placeholder="Maximo {{nameSensor}}"
              class="input-field"
              [(ngModel)]="valueS_1max"
            />
          </mat-form-field>
        </div>
        <div class="boton-container">
          <button
            mat-button
            class="btn-save"
            (click)="saveValueS_1()"
          >
            Guardar
          </button>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>
