<app-data-table-upa></app-data-table-upa>
<app-data-show-graphs></app-data-show-graphs>
<div class="first-container">
    <div class="second-container">
        <h3>
            Ingresa aquí si quieres administrar alguna de las partes habilitadas del
            laboratorio.
        </h3>
        <div class="third-container">
            <img class="img_accion" src="../../../assets/images/empujar.png" />
            <button class="btn_send btn btn-outline-dark" (click)="redireccionar_controlar()">Controlar</button>
        </div>
    </div>
    <div class="second-container">
        <h3>
            Ingresa aquí si quieres ajustar alguna de las variables habilitadas del laboratorio.
        </h3>
        <div class="third-container">
            <img class="img_accion" src="../../../assets/images/ajustar.png" />
            <button class="btn-outline-dark" (click)="redireccionar_ajustar()">Ajustar</button>
        </div>
    </div>
</div>