<div class="container">
    <h2 class="title">Recuperación de Contraseña</h2>
  
    <div *ngIf="!submitted" class="form-container">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn">Enviar</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="submitted" class="message-container">
      <p *ngIf="error" class="error">{{ error }}</p>
      <p *ngIf="!error" class="success">Se ha enviado un correo electrónico con instrucciones para restablecer la contraseña.</p>
    </div>
  </div>
  