<h2 class="titleRegistre"> Iniciar sesión </h2>
<div class="mailbox_content">
    <div class="background mailbox">
        <div class="container">
            <div class="form-group">
                <input type="text" class="registreCamp form-control" id="nameR" aria-describedby="name"
                    placeholder="Correo electronico">
            </div>
            <div class="form-group">
                <input type="password" class="registreCamp" id="emailR" aria-describedby="email"
                    placeholder="Contraseña">
            </div>
            <div class="form-group">
                <a href="#" class="recoverpass">Si olvidaste tu contraseña solicita su recuperación haciendo click
                    aquí</a>
            </div>
            <div class="form-group form-group-btn-send">
            <!-- <select name="OS" class="registreCamp">
                <option selected value="0" > ¿A que UPA estará vinculado? </option>
                    <optgroup label="Microsoft"> 
                    <option value="1">Windows Vista</option> 
                    <option value="2">Windows 7</option> 
                    <option value="3">Windows XP</option> 
                </optgroup> 
            </div>-->
                <button type="button" class="btn_send btn btn-outline-dark"> Ingresar </button>
            </div>
        </div>
    </div>
</div>

<!--
   <button (click)='createUser()' >Crear</button>
    <button (click)='login()' >Login</button>
    <a href="/register">Registrar</a>
-->