<h2 class="titleMessage"> En esta sección puedes  notificar al administrador
    <br> de irregularidades o cambios   </h2>
<div class="background mailbox">
    <img class="mailImage" src="./assets/images/mail.png" />
    <div class="box">
        <p class="textBox">Escriba aquí las irregularidades o cambios que quiere </p>
        <p class="textBox"> notificar:</p>
    </div>
    <input type="text" class="text">
    <div class="btnSend1">
        <button class="btnSend" mat-button color="primary">ENVIAR</button>
    </div>
</div>