*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.titleMessage {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
}
.background{
    background-color: #007B3E;
    width: 40%;
    height: 80%;
    margin-left: 400px;
    margin-bottom: 50px;
    border-radius: 30px;

}
.mailImage{
    width: 20%;
    margin-left: 190px;
    margin-top: 30px;
}
.box{
    text-align: center;
    margin-top: 50px;
}
.textBox{
    
    line-height: 10px !important;
    color: black;
}
.text{
    width: 60%;
    height: 30%;
    margin-left: 110px;
    border-radius: 20px;
    margin-top: 10px;
}
.btnSend1{
    margin-top: 30px;
    text-align: center;
}
.btnSend{
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: white;
    font-size: 12px;
    font-family: "DM Sans", sans-serif !important;
    color: #000000;
    border-radius: 70px;
    border-style: double;
}
@media screen and (max-width: 960px) {
 
    .titleMessage  {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}