.filter {
  text-align: center;
  margin-top: 50px;
}

mat-form-field {
  width: 70%;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

.mat-input-underline {
  color: #007b3e;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #007b3e !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #007b3e !important;
}

.table-camp {
  height: auto;
}

.table-camp table, mat-paginator {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mdc-data-table__table {
  min-width: 80%;
}

.button {
  text-align: center;
  margin-top: 35px;
}

.btn_send {
  width: 310px;
  height: 47px;
  background-color: #007b3e;
  font-size: 15px;
  font-family: "DM Sans", sans-serif !important;
  border-style: none;
  border-radius: 70px;
  position: relative;
  text-align: center;
  margin: 0 auto 30px;
  padding: 7px 13px;
  color: white;
  transition: 0.3s;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}
