<app-data-table-upa></app-data-table-upa>
<div class="first-container">
    <div class="second-container">
        <h3>
            Ingresa aquí si quieres adminsitrar alguna de las partes habilitadas del
            laboratorio.
        </h3>
        <div class="third-container">
            <img class="img_accion" src="../../../assets/images/empujar.png" />
            <button class="btn_send btn btn-outline-dark">Controlar</button>
        </div>
    </div>
    <div class="second-container">
        <h3>
            Ingresa aquí si quieres botificar al adminsitrador de alguna iregularidad o cambios.
        </h3>
        <div class="third-container">
            <img class="img_accion" src="../../../assets/images/user.png" />
            <button class="btn-outline-dark">Usuarios</button>
        </div>
    </div>
</div>