

.container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ebe6e6;
  margin-bottom: 20px;
  border-radius: 70px 70px 70px 70px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], textarea {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007B3E;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #007B3E;
}
