*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* ESTILOS CONTENIDO DE HOMEPAGE */
.first {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.first_container {
    width: 50%;
}

.second_container {
    width: 50%;
}

.img_homepage {
    width: 100%;
    margin-top: 20px;
}

.second_container h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 30px;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;

    margin: 10px 50px 10px 30px;
}

.text_homepage {
    font-family: 'DM Sans', sans-serif;
    font-size: 19px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 50px;
}

.second p {
    font-family: 'DM Sans', sans-serif;
    font-size: 19px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    color: #000000;
}

.second h1 {
    margin: 30px 0 20px 0;
    text-align: center;
    color: #000000;
}

.background {
    background-color: #007B3E;
}

h1 .text_info {
    margin-top: 40px;
}

.third {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.third p {
    font-family: 'DM Sans', sans-serif;
    font-size: 19px;
    text-align: justify;
    color: #000000;
}

.third h1 {
    margin: 30px 0 20px 0;
    text-align: center;
    color: #000000;

}

.mailbox_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.mailbox {
    margin: 100px auto 100px auto;
    width: 550px;
    height: auto;
    border-radius: 40px;
}

.mailbox h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    color: black;
}

.matatab {
    background-color: #DAAA00;
    height: 500px;
}

h1,
.form-group {
    margin-left: auto;
    margin-right: auto;
}

.mailbox button {
    margin: 40px 0 20px 0;
}

.form-group {
    width: 80%;
    border-radius: 40px;
}

.form-group2 {

    width: 80%;
    border-radius: 40px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem 1.1rem;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 40px solid rgba(0, 0, 0, .1);
    border-radius: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 60px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

h2 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 50px;
    color: #4E4B48;
    text-align: center;

}

.form-group input {
    background-color: white;
}

.registreCamp {
    display: block;
    width: 100%;
    padding: .5rem 1.1rem;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000 !important;
    background-color: white !important;
    background-clip: padding-box;
    border-radius: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 60px !important;
    margin-top: 30px;
}

.upaCamp {
    display: block;
    width: 100%;
    padding: .5rem 1.1rem;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000 !important;
    background-color: white !important;
    background-clip: padding-box;
    border-radius: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 60px !important;
    margin-top: 30px;
}

.btn-outline-dark {



    display: flex;
    list-style: none;
    margin-right: 500px;
    margin-top: auto;
    margin-bottom: auto;

    border-radius: 70px;
    margin: 0 5px;

    padding: 7px 13px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: black;

    color: white;
    border-radius: 70px;
    background-color: #007B3E;
    color: white;
    transition: .3s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .2);

}

.form-group-btn-send {
    display: flex;
    justify-content: center;
}

.btn_send {
    text-align: center;
    width: 230px;
    height: 80px;
    background-color: #007B3E;
    font-size: 18px;
    font-family: "DM Sans", sans-serif !important;
    color: #000000;
    border-radius: 70px;
    border-style: none;
}

.dropdown {
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    text-align: center;

}
.dropdown-menu-container {

    min-width: 200px;

    justify-content: center;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .mat-tab-group mat-form-field.form-group:first-child {
    display: none;
  }
  
  

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 200px;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.show {
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.dropdown-item {
    color: #000;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}









.form-group-btn-send button:hover {
    border-radius: 70px;
    background-color: #DAAA00;
    color: white;
    transition: .3s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .2);

}

.error {
    color: #DAAA00;
}

@media screen and (max-width: 858px) {
    .first {
        display: table;
    }

    .first_container {
        width: 100%;
    }

    .second_container {
        width: 100%;
    }

    .second_container h1 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .text_homepage {
        margin: 0 20px 0 20px;
        font-size: 19px;
    }

    .mailbox {
        margin: 80px 20px 80px 20px;
    }
}