.container {
  margin: 50px auto;
  max-width: 800px;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
}


.text-center {
  text-align: center;
}

.fa-user-circle {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Botones con margen de 5px en la parte superior e inferior y fondo verde */
button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: green;
}

/* Estilos adicionales para el botón de "Editar Usuario" */
.btn-primary {
  border-color: green;
}
/* Clase personalizada para el contenedor de botones */
.button-container button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: green;
}

/* Estilos adicionales para el botón de "Editar Usuario" */
.button-container .btn-primary {
  border-color: green;
}
/* Espacio horizontal de 5px entre los botones */
button + button {
  margin-left: 5px;
}
