.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6f7f2;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-picture i {
  font-size: 3rem;
  color: #c1c1c1;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 150px);
  background-color: #d4edda;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-save {
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.btn-logout {
  padding: 20px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 50px;
}
.container-btn {
  text-align: center;
}
