<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <i class="fa fa-user-circle fa-5x"></i>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="fullName">Nombre completo:</label>
        <input id="fullName" type="text" class="form-control" [value]="user?.fullName" readonly>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input id="email" type="email" class="form-control" [value]="user?.email" readonly>
      </div>
      <div class="form-group">
        <label for="upa">UPA:</label>
        <input id="upa" type="text" class="form-control" [value]="upa.name" readonly>
      </div>
      <div class="form-group">
        <label for="upa">LOCATION:</label>
        <input id="upa" type="text" class="form-control" [value]="upa.location.name" readonly>
      </div>
    </div>
  </div>
</div>

